body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


    .div-table	{
      display:table;         
      width:auto;         
      background-color:#eee;         
      border:1px solid  #666666;         
      border-spacing:5px;
    }

    .div-table-2	{
      display:table;       
      background-color:#eee;         
      border:1px solid  #666666;         
      border-spacing:5px;
    }

    .div-table-row	{
      display:table-row;
      width:auto;
      clear:both;
    }

    .div-table-col	{
      display:inline-block;         
      float:left;
      width:200px;           
    }

    .div-table-col-2	{
      display:inline-block;         
      float:left;
      text-align: center;
      width:470px;           
    }

    .div-table-col-corsim	{
      background-color:#ccc;  
    }

    .div-table-col-cornao	{
      background-color:#fff;  
    }

    .div-table-head	{
      display:inline-block;         
      float:left;
      width:200px;         
      background-color:#fff;
	    font-weight: bold
    }