@{
  ViewBag.Title = "Com Imagem";
}

<h2>Com Imagem</h2>
<div class="div-table-2">
  <div class="div-table-row">
    <div class="div-table-col-2">
      <table class="sortable bordaSimples" id="t1">
        <tr height="30px" title="Clique para reordenar">
          <th class="bordaSimples" width="250px">
            <a class="sortheader" onclick="ts_resortTable(this);return false;" href="http://www.kryogenix.org/code/browser/sorttable/#">
              Name<span class="sortarrow">
                <font color="#000000"></font>
              </span>
            </a>
          </th>
          <th class="bordaSimples" width="100px">
            <a class="sortheader" onclick="ts_resortTable(this);return false;" href="http://www.kryogenix.org/code/browser/sorttable/#">
              Salary<span class="sortarrow">
                <font color="#000000"></font>
              </span>
            </a>
          </th>
          <th class="bordaSimples" width="100px">
            <a class="sortheader" onclick="ts_resortTable(this);return false;" href="http://www.kryogenix.org/code/browser/sorttable/#">
              Extension<span class="sortarrow">
                <font color="#000000"></font>
              </span>
            </a>
          </th>
          <th class="bordaSimples" width="100px">
            <a class="sortheader" onclick="ts_resortTable(this);return false;" href="http://www.kryogenix.org/code/browser/sorttable/#">
              Start date<span class="sortarrow">
                <font color="#000000"></font>
              </span>
            </a>
          </th>
        </tr>

        <tr>
          <td class="bordaSimples">Bloggs, Fred</td>
          <td class="bordaSimples">$12000.00</td>
          <td class="bordaSimples">1353</td>
          <td class="bordaSimples">18/08/2003</td>
        </tr>
        <tr>
          <td class="bordaSimples">Turvey, Kevin</td>
          <td class="bordaSimples">$191200.00</td>
          <td class="bordaSimples">2342</td>
          <td class="bordaSimples">02/05/1979</td>
        </tr>
        <tr>
          <td class="bordaSimples">Mbogo, Arnold</td>
          <td class="bordaSimples">$32010.12</td>
          <td class="bordaSimples">2755</td>
          <td class="bordaSimples">09/08/1998</td>
        </tr>
        <tr>
          <td class="bordaSimples">Shakespeare, Bill</td>
          <td class="bordaSimples">$122000.00</td>
          <td class="bordaSimples">3211</td>
          <td class="bordaSimples">12/11/1961</td>
        </tr>
        <tr>
          <td class="bordaSimples">Shakespeare, Hamnet</td>
          <td class="bordaSimples">$9000</td>
          <td class="bordaSimples">9005</td>
          <td class="bordaSimples">01/01/2002</td>
        </tr>
        <tr>
          <td class="bordaSimples">Fitz, Marvin</td>
          <td class="bordaSimples">$3300</td>
          <td class="bordaSimples">5554</td>
          <td class="bordaSimples">22/05/1995</td>
        </tr>
      </table>
    </div>
    <div class="div-table-col-2">
      <img src="data:image/jpeg;base64,@Model.Imagens["Img1"]" />
    </div>
  </div>
</div>
@using (Html.BeginForm("GerarPDFImagem", "Default", FormMethod.Post, new { id = "frmPDF", target = "_blank" })) {
  <div class="excluir">
    <input type="hidden" id="txRel" name="rel" value="Tabelas XPTO" />
    <input type="hidden" id="txID" name="id" value="@Html.Raw((int)Model.ID)" />
    <input type="hidden" id="txView" name="view" value="ComImagem" />
    <input type="submit" value="Gerar PDF" />
    <input type="button" value="Tabelas" onclick="document.location.href='@Url.Content("~/Default/Index")'" style="width: 150px" />
    <input type="button" value="Formulário Razor com modelo de dados" onclick="document.location.href='@Url.Content("~/Default/Form")'" style="width: 300px" />
  </div>
}
