@{
  ViewBag.Title = "Index";
}

<h2>Relatório XPTO - Registro @Html.Raw((int)Model)</h2>

<!-- Tabela 1 -->
<form id="form1" name="form1">
  <div class="ajeita">
    <div class="div-table">
      <div class="headRow">
        <div class="div-table-head">
          ID
        </div>
        <div class="div-table-head">
          Nome
        </div>
        <div class="div-table-head">
          Endereço
        </div>
      </div>
      <div class="div-table-row">
        <div class="div-table-col">
          001
        </div>
        <div class="div-table-col">
          Banana Nanica
        </div>
        <div class="div-table-col">
          Melford Roxo
        </div>
      </div>
      <div class="div-table-row">
        <div class="div-table-col">
          002
        </div>
        <div class="div-table-col">
          Alfonsus Delanus
        </div>
        <div class="div-table-col">
          Av. Uruguai, 100
        </div>
      </div>
      <div class="div-table-row">
        <div class="div-table-col">
          003
        </div>
        <div class="div-table-col">
          Gilda Soares
        </div>
        <div class="div-table-col">
          Rua Anastácio Somoza, 10
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Tabela 2 -->
<div class="ajeita">

  <table class="sortable" id="t1" border="1">
    <tr height="30px" title="Clique para reordenar">
      <th width="150px">
        <a class="sortheader" onclick="ts_resortTable(this);return false;" href="http://www.kryogenix.org/code/browser/sorttable/#">
          Name<span class="sortarrow">
            <font color="#000000"></font>
          </span>
        </a>
      </th>
      <th width="100px">
        <a class="sortheader" onclick="ts_resortTable(this);return false;" href="http://www.kryogenix.org/code/browser/sorttable/#">
          Salary<span class="sortarrow">
            <font color="#000000"></font>
          </span>
        </a>
      </th>
      <th width="100px">
        <a class="sortheader" onclick="ts_resortTable(this);return false;" href="http://www.kryogenix.org/code/browser/sorttable/#">
          Extension<span class="sortarrow">
            <font color="#000000"></font>
          </span>
        </a>
      </th>
      <th width="100px">
        <a class="sortheader" onclick="ts_resortTable(this);return false;" href="http://www.kryogenix.org/code/browser/sorttable/#">
          Start date<span class="sortarrow">
            <font color="#000000"></font>
          </span>
        </a>
      </th>
    </tr>

    <tr>
      <td>Bloggs, Fred</td>
      <td>$12000.00</td>
      <td>1353</td>
      <td>18/08/2003</td>
    </tr>
    <tr>
      <td>Turvey, Kevin</td>
      <td>$191200.00</td>
      <td>2342</td>
      <td>02/05/1979</td>
    </tr>
    <tr>
      <td>Mbogo, Arnold</td>
      <td>$32010.12</td>
      <td>2755</td>
      <td>09/08/1998</td>
    </tr>
    <tr>
      <td>Shakespeare, Bill</td>
      <td>$122000.00</td>
      <td>3211</td>
      <td>12/11/1961</td>
    </tr>
    <tr>
      <td>Shakespeare, Hamnet</td>
      <td>$9000</td>
      <td>9005</td>
      <td>01/01/2002</td>
    </tr>
    <tr>
      <td>Fitz, Marvin</td>
      <td>$3300</td>
      <td>5554</td>
      <td>22/05/1995</td>
    </tr>
  </table>
</div>

@using (Html.BeginForm("GerarPDF", "Default", FormMethod.Post, new { id = "frmPDF" })) {
  <div class="ajeita excluir">
    <input type="hidden" id="txRel" name="rel" value="Tabelas XPTO" />
    <input type="hidden" id="txID" name="id" value="@Html.Raw((int)Model)" />
    <input type="submit" value="Gerar PDF" />
  </div>
}
